@media (max-width: 750px) {

    .container {
        gap: 4rem;
        padding: 3rem;
    }

    .form-container {
        width: 100%;
    }

    .submit-block {
        position: relative;
        width: 100%;
    }

    .submit-block img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 2rem;
    }
}


@media (max-width: 500px) {
    .container {
        width: 90%;
    }

    .output-container h1 {
        margin: 0;
        font-size: 3rem;
    }

    .form-container {
        width: 100%;
    }

    .form label {
        font-size: .9rem;
    }

    .form input {
        width: 55%;
        font-size: 1.2rem;
    }

    .form input::placeholder {
        font-size: 1rem;
    }
}

@media (max-width: 390px) {
    .container {
        width: 90%;
        padding: 2rem 1rem;
    }

}

